@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700)
@import variables
@import screen
@import ie
@import print
@import icons
@import spinner

*, *:before
	box-sizing: border-box

html
	height: 100%

body
	background: $color-dark
	font-family: 'Lato'

.wrap-outer
	position: fixed
	width: 100%
	height: 100%

.wrap-inner
	position: absolute
	width: 100%
	height: 100vh
	overflow: hidden

.content-left, .content-middle, .content-right
	position: absolute
	height: 100%
	top: 0
	vertical-align: top
	background-image: url(../images/bg-body.png)

.content-left
	width: 14.75%
	left: 0
	background-color: $color-secondary
	box-shadow: 0 2px 6px rgba(0,0,0,0.25), -1px 0 0 fade-out($color-white, 0.925) inset
	z-index: 3
	overflow: hidden

	.social-outer
		display: inline-block
		width: 100%

	.social-wrap
		width: 100%
		color: $color-lighter
		opacity: 1
		position: relative
		display: block

		&:after
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 100%
			content: ""
			box-shadow: 0 2px 3px rgba(0,0,0,0.75), 0 -1px 0 fade-out($color-white, 0.875) inset
			background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,0) 57%, rgba(255,255,255,0.05) 100%)
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(57%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,0.05)))
			background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 57%,rgba(255,255,255,0.05) 100%)
			background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 57%,rgba(255,255,255,0.05) 100%)
			background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 57%,rgba(255,255,255,0.05) 100%)
			background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 57%,rgba(255,255,255,0.05) 100%)
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#1affffff',GradientType=0 )

		&.social-twitter
			background: fade-out(darken($color-twitter, 30%), 0.25)

			.social-name > p
				color: lighten($color-twitter, 33%)

				>span
					display: block

				> span:before
					content: "@"

			.social-icon
				color: $color-twitter

		&.social-facebook
			background: fade-out(darken($color-facebook, 30%), 0.25)

			.social-name > p
				color: lighten($color-facebook, 33%)

			.social-icon
				color: $color-facebook

		&.social-instagram
			background: fade-out(darken($color-instagram, 30%), 0.25)

			.social-name > p
				color: lighten($color-instagram, 33%)

			.social-icon
				color: $color-instagram

		&.social-custom
			background: darken($color-accent, 30%)

			.social-name > p
				color: lighten($color-accent, 30%)

			.social-icon
				color: $color-accent

	.social-inner
		display: inline-block
		padding: 1.5em 1em
		margin: 0.25em 0
		width: 100%

	.social-img
		width: 3em
		float: left
		vertical-align: top

		img
			width: 100%
			border-radius: $border-radius
			overflow: hidden
			box-shadow: 0 1px 2px rgba(0,0,0,0.15)

	.social-name
		float: left
		width: calc(100% - 3em)
		position: relative
		z-index: 1

		> p
			display: inline-block
			width: calc(100% - 1em)
			font-size: 0.925em
			margin: 0.67em 0 0.5em 1em
			line-height: 1.33

			> span
				color: lighten($color-primary-light, 10%)
				font-size: 0.85em
				display: none

	.social-post
		float: left
		width: 100%
		margin: 0.75em 0 0.33em

		> p
			font-size: 0.85em
			line-height: 1.25

	.social-icon
		position: absolute
		right: 0.33em
		top: 0.33em
		font-size: 1.67em
		color: darken($color-primary-dark, 12.5%)
		z-index: 0
		text-shadow: 0 1px 0 fade-out($color-white, 0.925)

.content-middle
	width: 65.25%
	left: 14.75%
	background-color: lighten($color-dark, 2%)
	box-shadow: 0 0 6px rgba(0,0,0,0.25) inset
	padding: 1em
	z-index: 2
	position: relative

	.video-name
		color: fade-out($color-white, 0.33)
		font-size: 1.25em
		text-shadow:  0 -1px 0 rgba(0,0,0,0.5)
		display: inline-block
		width: calc(100% - 2rem)
		position: absolute
		top: 1rem
		padding: 0.5em 0.75em
		left: 1rem
		background: fade-out($color-black, 0.5)
		transition: padding ease $trans-speed

		&:empty
			padding: 0

	video
		height: auto
		width: 100%

#videoPlay
	display: none

.content-right
	width: 20%
	right: 0
	background-color: lighten($color-dark, 5%)
	box-shadow: -2px 0 6px rgba(0,0,0,0.25), 1px 0 0 fade-out($color-white, 0.925) inset
	z-index: 1
	overflow: hidden

	.image-wrap
		width: calc(100% - 2em)
		margin: 1.25em 1em
		position: relative
		box-shadow: 0 1px 2px rgba(0,0,0,0.33)
		opacity: 1
		background: fade-out($color-black, 0.75)
		display: block

		.spinner
			margin: auto
			width: 5em
			height: 1em
			position: absolute
			top: -1em
			right: 0
			bottom: 0
			left: 0
			font-size: 0.75em

			> div
				height: 1em
				width: 1em

		img
			position: relative
			max-width: 100%
			height: auto
			box-shadow: 0 -1px 0 fade-out($color-white, 0.75) inset
			transition: height ease $trans-speed

		.image-name
			background: fade-out($color-black, 0.5)
			color: fade-out($color-white, 0.33)
			font-size: 0.85em
			padding: 0.5em 1em
			width: 100%
			position: absolute
			bottom: 0
			left: 0
			white-space: nowrap
			overflow: hidden
			text-overflow: ellipsis
			text-shadow:  0 -1px 0 rgba(0,0,0,0.5)

