<!doctype HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en" ng-app="app">
<head>
	<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
	<meta content="utf-8" http-equiv="encoding">
	<title>SocialBooth</title>
	<link rel="stylesheet" href="styles/main.css">
</head>
<body>
	<div class="wrap-outer">
		<div class="wrap-inner" ng-controller="SocialBooth">
			<div class="content-left" ng-init="loadPosts()">

				<div class="social-wrap social-{{feedPost.site}}" id="social{{$index}}" ng-repeat="feedPost in feedPosts" social-item>
					<div class="social-inner">
						<div class="social-img">
							<img ng-src="{{feedPost.avatar_url}}">
						</div>
						<div class="social-name">
							<p>{{feedPost.screen_name}}</p>
						</div>
						<div class="social-post">
							<p>{{feedPost.title}}</p>
						</div>
						<div class="social-icon">
							<i class="icon icon-{{feedPost.site}}"></i>
						</div>
					</div>
				</div>
			</div>

			<div class="content-middle">
				<div class="video-wrap"  id="videoPlay">
					<!-- <p class="video-name">{{currVideoName}}</p> -->
					<video width="100%" height="auto" controls autoplay video-item="videoElem"></video>
				</div>
			</div>

			<div class="content-right" ng-init="loadImages()">
				<div class="image-wrap" id="image{{$index}}" ng-repeat="feedImage in feedImages" image-item>
					<div class="spinner">
						<div class="bounce1"></div>
						<div class="bounce2"></div>
						<div class="bounce3"></div>
					</div>
					<img ng-src="{{feedImage.filename}}">
					<!-- <p class="image-name">{{feedImage.name}}</p> -->
				</div>
			</div>

		</div>
	</div>
<script type="text/javascript" src="scripts/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="scripts/angular.min.js"></script>
<script type="text/javascript" src="scripts/underscore-min.js"></script>
<script type="text/javascript" src="scripts/angular-underscore.min.js"></script>
<script type="text/javascript" src="scripts/socialbooth.js"></script>
<script type="text/javascript" src="scripts/ng-video.min.js"></script>
</body>
</html>